* {
    margin: 0px;
}

h1 {
    text-align:center;
    background-color: blue;
    color: white;
}

.banner{
    background-image: url('banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid white;
    width:100%;
    height:400px;
}

.info{
    text-align: justify;
    background-color: bisque;
}
.info h3{
    text-align: center;
}
.info p{
    padding: 30px;
}

.image1{
    float: left;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyx2HIw5F6Yw-a6-5k6Qo9NM1A8GsXOCapnQ&usqp=CAU);
    background-repeat: no-repeat;
    width:33%;
    height:600px;
}
.image2{
    float: left;
    background-image: url(https://karunya.edu/sites/default/files/img/2021/MECH/librarymech.jpg.pagespeed.ce.IiYL3-RD8y.jpg);
    background-repeat: no-repeat;
    width:33%;
    height:300px;
    position: relative;
}
.image3{
    float: left;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9OKB6bJUzvUhA5c_Q_S5_5keApTaoeCBySA&usqp=CAU);
    background-repeat: no-repeat;
    width:33%;
    height:600px;
}
.image1 h2{
    opacity: 0.5;
    text-align: center;
    background-color: black;
    color: white;
}
.image2 h2{
    opacity: 0.5;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width:100%;
    background-color: black;
    color: white;
}
.image3 h2{
    opacity: 0.5;
    text-align: center;
    background-color: black;
    color: white;
}

.campus{
    float: left;
    text-align: justify;
    background-color: bisque;
    width: 50%;
}
.campus h2{
    text-align: left;
    padding: 30px;
}
.campus p{
    padding: 30px;
}
.image4{
    float: left;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ7jywcCoscBC7hKVAWMp4ytO-NvdmYIUVww&usqp=CAU);
    background-repeat: no-repeat;
    width:50%;
    height:500px;
}

.form {
    padding: 20px;
    width:50%;
    height:200px;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    position:absolute;
    top: 40px;
    left: 110px;
}
.form h1{
    text-align:center;
    color: black;
    background-color: white;
}
input,label {
    display: block;
    width: 100%;
}
input[type=submit] {
    text-align: center;
    margin-top: 40px;
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
input[type=text]{
    border: none;
    color: black;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}
input[type=password]{
    border: none;
    color: black;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}
input[type=text]:focus{
    background-color: white;
    outline: 1px solid blue;
}
input[type=password]:focus{
    background-color: white;
    outline: 1px solid blue;
}
.image5{
    width: 50%;
    float: left;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgWFRYZGRgaHRwcHBwcGh8aHB4aGhwaHBwdHB8cIS4lHB4rHxoaJzgmKzAxNTU1HCQ7QDszPy40NTEBDAwMEA8QHhISHzYrJSs0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ2NjQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NP/AABEIAKwBJQMBIgACEQEDEQH/xAAaAAACAwEBAAAAAAAAAAAAAAACAwABBAUG/8QAPhAAAQIDBQYDBwMDAwQDAAAAAQIRACExAxJBUWEEInGBkfChscEFEzJC0eHxFFKSYnKCFbLCBiOi4jNT0v/EABkBAAMBAQEAAAAAAAAAAAAAAAABAgMEBf/EACsRAAICAQMDAwMEAwAAAAAAAAABAhESAyExE0FRBBRhcZHwIoGh4TKxwf/aAAwDAQACEQMRAD8A9Snak6iGptEnERwU25hgtjHCVmdx05jrFunMdY4otjnBi3PYgseR2LkRo5SdpMNG2Kh2GR0LkS5HN9+TiesQ2j1JhWGR0C2YiiU5jrHPeKhWPI3lacxAG3TrGRoqFY7NwtE5wcsxHPEWBBZSZuBGYiXhmIxgQQEKwNN9OcWFjOM4EGlMGRQ8KEE4hV2JCsVDg0EBCBBiDJDoaBBXYSIIEwZIVMaBFgQsLMEFmDJCphtEaILQZRCsQZLyG5bRbQs2ukUbUws0OmOaJGf3hi/fHSDNCxZoiRn/AFByEX+q0h5RCmPiPGY7VpFfq9PGDJDo0vEjIrazkIkFoR59WzzlMZwadmV3KNX6pXYP0ifq2akcK9cmPooQNlXl4iIqyWKpPT6Ro/VagDg/qIMbTqOn3h+8XcXRXkxb/wCwwSb+KDG9G0A5Hg8Au3W5azJAbmNASKaxovVJh0a7mYnQwF8ZxoO0JopaEFnZQnLgYFaEKY+9sw8hugT5qrGi14kPTfYQQdYEAxqsdksxP3yTi0m41jSNmQz30nmB9YfXiC05HOSg5wxIOcdAbKg0X5GFr2JD/HoXwLO3iIXXiV05IzotBDQpOfjBHZUid4c/zEVYo/ejqIT14+SlFgFWTdYsKOkQWYwX4faBukfMOn2iH6iPlfceLGpJiwTCb6h83h9oJO0K/dEv1EV3X3KUWPD6xbHWARak4g8H+kPBMT7iL7/yViUkGCAOUEH0i7phe4XkMQYsRaUmCnC668hiDFxc4hCoT10GJIkUyoWpZGCuhhe5SDEcGiFMZ1W5/Yo/4xR2n+lQ5GD3MQwZouxRRGX/AFBOR5iJ/qCIpepgGDNJQIEpELTtaOXCLO0IPzdQYfuI+UGDCIGcDcGcCtaMFDpCF3B8/QE+kOOvF90S4scUDOLjJ7xI+dvCJGvVROJgPtNJ+dH83/4QCvaSHmtIOj+iYwpCP2IHEl/9phgQk0RZHqf+MeWowXYrOXgM7fZA/wDyI/gp4Yn2jZmi0nghXqqEXFCiLMf5N/xJ8INKLU1skfyJHjZw3Vf2gyl4X2G/6tZAsQ50R/7xR9r2TM6hoyP/ANQm22a0ysU/5EkdERnXYqII94hzilJJ4OlKSOsUlHn8/gTnNdkbx7QQaBZzezQfFQrDU7cJMF6C7Yp6SrHCsfZbF1KF3BkqfqpZ8o0I2GwEyFKIwvqbMyBAipYLht/n7ELUl3Oqv2ilt9J5+7V5Awse2kSACpUYJHISpCrO0QkMlAYjIGLRaWYkEJGgSPICMsvh/cb1H2f8Dle2eP8AkoNGW124ro/+JLebGNCAkj4U80jzhhtETBP8W/HhEqT7J/ctKcuWZf1ikgAlPMA+caLParRUgzf2gDygELsyQAgHUgS1lV60bhFoVZgyDcurP5QpRVcblKDvdm2zQo/EpP8AFMuJI+8PATIS6D6U1LRy9o2lCQGTOUrt5RL/ACgGZnG42CQHZzg4DDpVoxnCqb7m0a4RovAS/HlF2FvZPvrQD+0qAPOcJSkMLwEgPlAc5thPCF2+zodLWaK715CWCRVmmVHDDOI08VLcdPk6P6mx/ej+Y+sENpsmktH8hprGNKbBSQpKUFJDg3Es2dI4a9osSolKG0SkB9WA843i1JvZ7ClPGj1I2hGC0/yH1hgtUEOFJfjHmtiVZlKiqzSQMSkEy4iHWKrFRI90kDA3Uz6CE9m/6EppneFsn9yf5CAVZpV8Kyk/3OPOOd+nssEJ/iPpFmwsx8qf4j6Rk5xZoPtveI+ZxmC/XKFDbTiYBNiioSnoINKwKMcx3jGbp8IKD/VOzRf6pQwfm3nDElKg8uLeBi1IyiG14HiIVt5AcoVxw8BAI9qDLxhi7MHdUlxCD7OSN5KRwd/A1i44NboHEefaY/aesD+vSHdJ6CMqrBOV3g48B9IUvZmootrPxEWoxIZtTtlnigh+84h2uyxChyDecce1srQUn/a3rWEKtyJKcf3Il1aNVoqXDIcqO97yzNCocoBYQJhXgRHBO0KqFPwA9RBo24ipPQN4CKWjJcMnJPk6qrRH7/H6iJHKtduSTU9B9IkUoPwTkgNt2+zs394tAOgvKPJIJjn2X/UqCWCLRRyCbv8AuUYUjZ0YpKi2vk8aEhKRJLDkB0A9I7FDTiqabZg9STezOon2kgAFKFBRAe9KvMwtftBasLo0l9o55V/SGzJYd8osrGE+f5LRl0l4B6smaE2j1Z+EElc8NHl9TGYKOAI6dmGoQ82fHTvrDcURk2NSvDDp+YdZEYCenYzxjJaLYSIfUkJDnhPg8TeLklN2WGPeJA9YMGylFs1qt04sWwBHbxVkr5ppGs34lnEZkLIDC6/InHDLWEqWo7qlAZiW8A1dJt0hrTS4NYpI2L2pKVMJqyE5dPCLBKjOWIADdZT8IzpQEiQA0c4cKUfR417MsEgAT0JrNxM9+MKVJbGifkMKJmWGFMKl5aZRr2ayJrTuXCKRZ5944wNht4UtSUJJCQN53STlKp0jmllJOuxVpcm1KEpmwej1P1aJfVXoIWCWvKhW17ciySVKngAPiJyGcYqMpOluyr2CFqtSxdDJS94qBF4tIJ0BxpGq2SlSSlUwa4P0NIzptnSCQzgGdQSKccIu02lKUlRwD5P3SHJNtUuClSTswe29qYCzSGGLBg2A/EYNmtWAYS1lOVOsZLS1vqKiS7uzKPVhlSH2QmxUAHpMuARNN3HuUd8dNRjRwSm5Ss7tlbAILVEjdKSQecusIRapJLfEySXDYPQATnCbEskpIxMjJ2xAbE5zjDY3ry2MxJjNi8owWmtzXLg9IpYDNDCvQRzUWhu72U+TRaLXU+cc0tM6IyNoXiwYwFpaAYRlCyOFaNAWlqIFDcpSNdntASX+U1FW1Hh4RvvjAy7pHC95n336xo2K2bddwXI0xbh6w56e1lRn2OovXkR9YzLVd+tInvGkTXrygFq77wjKMaG2X75xOucvSFrJGPOX4jNbjKR0d+TQKbc0Z/7S/WsbKHdEt2Xb2yh8t7Mj8vGZW0qwSW4j1hqlE4SyjMtjx76xtFLwYTTFLtgXvWR4pKR/yjKsJVMXk6FSfV40qWRUPyjMpYJe8Bo3q0dMTmlJozWonO9/Eed+cSDva+IiRrfwRmhRtyzE3cikSPNWUWNoywxNfOMSBJiDwxfrDUECZNziTPgRWecauCJVvg1JtBmZjMgeBg2FSWA69KxlO0hIFxIJo5FZCXnCveiqnzLEkhjOYEhxynCWm2aRj5Oqq1SKJUSJgqpTCrHlFWlo43nrLdlxDtHMs1iUyeO7nPUV+sMWoyaWM2L8EgNg/oIOkkaKlwbkWgSASQ70k9XmWz84Oz9oLUCzMHqJv/SrAYxzSgJJkHoxl/ItqPvBoBq9RgHMtRz+0GKHZqul5AknNpY1GXXjDbNDOS+dX4TdwIyC1GO8Mj+A/dTGuwWpRM+h+gl5mIlaQWiK2hQDmTyAqToAJnj4iNWy2K1KStailgwSKq/uw7nB2WzJd23qTE+/rGhdslLk1p+JTjnlqdootK92M2pAUGUpQS8wJPo+XOMo25KFpskoJJd7pDJDfNx7rAbWtakslV3MnAEUSBj0gNmsUoG7Mmpx49iJhFKP6t/j/om7lsdIkk5QhOxuu+o3m+EGQSNMzAot9C3mYw+0/aSpWdmRfViPl1fP8xOnCTlUfxFOSq2d9FoK+Uo4Xt7a6ICmepF2QwE659IcLUosg6ibqWckknWeJjzO1bQpSipWL1nw+XhN+sa+m0Lm5dkRr6n6a8myxtikneOgNTyJZPSGpSVEOTdeibgp68Mo5adqwSGDzBIBc/3O8wzhmaNGzLUSRdmJs4JrjeAYa71MJR2S02tzjs7dnZjdIvXVAsGwJc3iavLOE7GpiWUobwcKABxMhUOHr6Rkt9qSpnRQ3AC1UuZuGE+zgGzLIfdcON8q1ndlTHlGWDp2aZbnogugOMncjD7wIU1CGzeTZxh/VNKRwyn6jDuRJ2ocMnGHCOV6bR0xnZuSs482eF2vX64Qj34MiH4fTGEJtgddJRKgyshxtG+/fKFG2eTnvKBXaZwKS7mvONFELOvsu2habqjvCtAZ0UKc4YNoCTdU71ll+4Rwllt5MiJhx1BfCN+z7QLRMgxGrFJyOlIiekluuP8ARcZ9jXaWgGKn6tqA1MxCTaJPyucgSOYwiItSqRN0jwMS1Qa1zu+Y1zEQlWzBp8ozrUkbwUOFDzc1i0qChgFGYqSeQDd4wK0sznhIz0JEvpC7S0cjBQmwnPpMRriF3swLV01ph9oyrL0PKNFntBDggMceNGn6wFvstSmYFQZKHEZaxrHZ7nNOHgxFZ1HeeMSG38x4tEjW/g5sTkha0GSVCclAXgz/ANM/OJZ7UU1+I5umc2qznvGHFN/4lJBTIqdCnDtNpyzvPrEWhAS4VvEuAUtLMiaSJyIPOUdv6eGjoSrgtJJLqURmksPoTLAT0xi7S1uNdAIIpiGo8znThMRksrqQQCpSa7xMhN5YcMZVg92hULoF4zEhga8m+xhOO4x5tXDqIloAMKgV5PGnZ7VphJUDiEEDqHBIrXGkZdmuv8Tou3jOgnjmZ+MMNuCUhTi8LwmiRBkKHDOcohq9gscpYmXDv+5La0c506w33xEgUiTAXX6yDnSMwBpgSHul5z0kGALnSNtl7PJ3lGRoCWfhPzjKTUVuG/YHZwSoklhgQ4cnFpt3SOgFAMzaNUcqQq4QGDg5ifTOFrRd+ZyzlpEacYwk1Ngk1yOtdoIx8jyliYBFqaqozVdtOMIQ5LksMKBhiZmHKLTFBg7nViKGFilsGTJa25wAlQPKCQo8zWfGEpmymAJkJmXUVhqUNWf5p1hNJbAOVaAB3LtKUZNhsrpK1EFZmSRQHAQarIrVRsahm6wjabW4N4yqcZdecOC2xXcrjdmP2zthe7eDPRnnlJ8x9seWbYh3SO5UE4XtO0zKXbN3FTjnXhFSDlsJMhg03cq0GEejDTUYpHHKWTbHqtFFTgzDUdwCBR6imLx09lQkTLEkTJZRdnoC4NZGfCOIkFRdpAPITbjQCeGWJjq7BZs5KQmTOCVZAMKEzhasUoii9x9paIKnF0iZd5u7kBJw1aJZWqlA3kqYzvBWFZuGaQECLO7dUSgBjuqNSCAXBnJ/mlwlAWNlIqC3feDSD0xkMfDSMmlRauzQtQuyDUaciBg7AETM4Yu1ULqlGZA7kc4WbQH4RUZTBEsefTlFWipCQkc2ONAcIzaNIuglWuJJHNvCINod5u85g14xnWg0nw/MBfAzgUUysqNSdowLd0pDBbcA0YFXWk56P4RArAA68eUHTQ1I1qtiMX8ecFYbQUKvEFvmAYuPNxGS+deY8IiVyq0GO1BluegtCFAFJvSdKilnGT4msSztnDKMs5unrh5RwbDarhN4kJJmKzzGRjo3SohSCos7gGR1l9IxlpVzwaxmbFLE5vmGkdRrClqAIDEg0JFDgNOELs7YKmQBlNmPGF2hVoXnIyPfWJUadClLuBarukSSBNjQEuw4nGf0iJ2pKSak5pMvIwtdpK6veSazcCeQmMIyr2G5vpZSDhU85ZvjG8YxapmebNYUVTCDq2eu6R0aJGC0cGbpfBm8okVghbGJG0pW6XCXYObwEsT8oTWUFtFxDFVpZrQ7gpcgkGgCTPUtHEqdIBVm5kCTHpdJXyY9Q9FsdrZqG5aBP915OZk5ypPGHbTdvOld52ob5P8AFU8Gjh7PsRd3cClWmJsW4RvsNnSkXgRKtQZ6ET5eEZTik7TDqM1G1QEsxdvmBDpkAx3mHIQtG15GrymOjpZpB4IJSzJuO9A8jNmxznXWKRZpVukF3GEgNcMpOIztCc2bR7RAZyHBBYKIoP6UjjPpBq9pWSy5tCgYzWukspxg91ZlJKgwGN2QGDeHSMSrSydgFKLzcACocgzqNIS04vhMXUkem2ZQU1xaVAgj4FmdHO4Wrj94Jew2p3jcOoQs0xJunrSPPWVosA3HSpJHwpCGJDTINGHjG2y9qlKQLyVqYVJUKvO8l3dscBGctJr/ABL6trc6ybBV2arJIMiz1lUM4pD0XUgtaOBqVJSZzDjMCK2H/qAXSLRCApiQygmolU64tHJtfbbqUm4lF39pLviazkXxEYKGpJtNV9DGOpKMqe6Omm3sHcrSSzd/iD9+gUWLoGYV1Ajy69tM3UotwY5cMOkYNo9pWipAgAZJAJ4kCcbL0jl3N+v8Ht124FWYtPddtBLo8cH27tVBeEi8q8RWTRyNj9oWiVg7pzvJCh4iH26gtTrWR/j0phGkPTrTlbFLWyjRn/WBmcli6SQJUkMh9IGztHc7sp4z6nwrD0osQUlRBBrdLETyOB4iDtF7PO6FvhvAh86THTGsdFrsmYiFW5YJvDFwS/mWNKecb/Z1u0r8yA24ejjRqPHHBTxEaLqGBAYHNQJ6MIcoxaoaO1YoKB8KAxkpQUynx+GfOdXjYtBZlzIJu3WCQKMDIuD5xwbOwSqpu4PdvAnrLLlGiy2YomLQb2SHpJiCzHvGOaUF53NIs6CiQLqQATWjnRL8cjTrtTsqmDruqwSVMVZbtc61jgXkrpapfIouHkRIRmVs5czD1qO3hdK9rr9ilJI9LtCR895JFQQHbOk5xz7dCQ7VfP7RgRtC0gOsUof2jvwh1ntpFbRL0cpUo9bw8sYS0Wu43NMehOH465ww2CizAl8BXWMtttixK8gD+kTbmusULe0/+04fK/Xeh4PmxZRNarMgT/EChHYhJ2pQqsv/AEpE4zrt5j/uEvoXf+PrAoNjyR0FbOVJkJcwD4Qez2Nqhk3SZEgn4WymW5a4xy7VNoJlZEpTYsct0GcYre+TeUpZJxUpyW5RUdLJVaDNI9Fa7YhrwSEmRYU1zFcIFHtGzIuqCiD4H155x54LH7j3yi1K/qPhFL0yoHNvc9ULZBYJV1JfKTCeMLTtSQozDhgMAc3DN+Y8uq0I+YwItDgo98oXtV5JlPwemt7SzWoliDU7xaeQLtEjznv1fv76RIftn5JzJZ7JJ1KbRj+B1htkLhoMwqbhtBhhAe9KizkigBnKlMZQfvSCQpIVKeUhIljoJ8Mo2dvklvwWLQ3jKXxBmSzcZU84pCSS8yDXQEvMtwpFKKTvJuvdoLzvkAAa9mIVpLboSQSd5TAJc4M/TOFXwQabFeDquycsVB55AaVh6lggKSu8ouXCQMaORlhGe3tJzU5uicyDl8QByr9IyItrsizPRnAYmbc/KJxvcBy0SdSgtg5yHHPl94ELCiCSU/0pDf8AkaEnCcItdqvG8oOGoSa8qgQ9Kd0AoSJOFF0idBg9KjExdNLcBytqcXVoJEpvNpsHBDmeL8IOyt0oSVe7JTo2O6S4DYjCUc8opizyT6NOLXYhJneugCknxxM8OukGK4GdbYdoSXu2YNVEqdRcOQ5TTKlAZRnIS93dMyxusQSXZ23gDKBsU3kKIcULMwJcO5ByJeFqDSCXjOlbKrYraVSujnTo8ZrKxJwOGDypGgJZzdd549a8YZ71Naszh6iWlcItNpUiaCSlAYEDWvfZhaikUF6QlTukEtRy6kPx1kYXfBqBxyrp5RKQ6DWtK2vMGkLqcJtxgkqSmRBbAsD4wlF1ySfT6xaVAMQD0x16Q2uwDRaB5A6ybxi02oZ0oLyecu3hClpcMk14ZUqxi7J6sSJy+3CE0Mci2LhgTOYPRp9zhyrT4iDMEToFXpPWVP8AyMZCoEtdfg/oY0qG8kqYODXPCQ+E8YlpFIpd03gkM85iRGY5/XOLs2DEuzMcxkQ+GLekAVyAVhLPdVukU58IXZG6QZE1nTno8jpDp0DNK7MHC+DINgRUZtWWnXJtOyFJUmihh33ONC1XSyfhUApLzbFtKNyhhWpYBIN5MlUpQPqzjpAm19A24M1gzALoaFhwYAsCZGHJQkySZ/KGlmXIBZUoyqQbxAAL7wFKBz1A6xSFppTOUU1e4mjQgF7t5QqyX/2lmIMUdnKS8wBU4jiH8jAsZZYEVHhzaG+8W0jSpE0nIz7rEu+wiJt1JB3XFb1T44eLxntrRSnmGya6Hzbr4w9FqX+Up+ZJSE+XYgP0ylFV0iW8BIKIDuQMWxaBUt2NbnPW7vFg99+kaELwJ85xGlhyZ/CojSx0IUIkMUo6yw+kWmcxPQw7IaEuRFw33b0DjUU4NEgyROIlsAXak5eBzhigWYkggOBNp1InlC0WUyJEibB5cCG+kF752DM1FNvTmS4r1p0in8DC3XoTxmXaYkztWcEkqJUQhKpMd2WGTaDnrBh0lJUXAoVfDMOEuHaoy8IBayAQD8xLMLoGLGqurMYQGq8ykldGLOa5DSnGWkYNptheKUgpmQXmRmKDvKEWtpWt4yq8shRhSD2azUFSYHI9caUhqKW7BgqAS7kKOQoOMoETLKJ4VlxjQL6gXSDR3IDEYkeEWixCyBvOZABj0irrkRBYqSApKgcgHPnL0nBWuzLUd6T5lnZmAeZNIrZLYBwUE5K0B1lgRyzirdRF11PMSM65tJoneykirjOHJaujdnxh5LBg4JAm7eUsYzptJhxg4kwYDylDhbB9ND9p/aJaYw0lRk4zlw6mkWpYS7Yt94Umc2J+gznrFpUlmZuTwqAIbTLLzfB58YNNoJSxyng3lAqsiA5SJVfKjyMApaSxAKa1VoJypCpPgRDahyboxLiVX1rDTcIBCW0VvVfz4RkIMxeNMDzziXhJgeZ+8VQGwLus5Sz0uiAv65zx4eUZS2PUT5Q2+Xp3m8LEaDWl/OsjBJWSht3dJpXAtj4ZCEBSWmS/GJs9sxIAkr0B+vgIdbFWa7VAJrUcTSFkhQD4TlhgodZ9c4pAN15C72/l1gi14vRQveiho7CJQpM0J3kGhKTeA0J3hxdjzgbG1UzVqGOI05EwnZ7QpVMeLyMi08ZQ3aEEFxVPjlMc4mt6BboHaN4T+JOI8CPOEqWAxImf20HEV1y3ocpTMU/CoAEHDLxeBvJDpUwvBn57peoDyOjxSHyWhYAegxYOk+o46wKlkElJHjjUnTPygVuMcwDTQg5GL2cqOIrJ2hV3E0FdUJjgceRixbKAISSFAgguxBwIY9iKAOBvaAv9w0DaqbN/vUvCoV0LWQoFTgEGacXzGkVZqwDE95tEQu6b12fTOuYOI+kFtFmJKSJEqk4N1qDxrSNPgfyCqeDcDTrh94BKiNO6/eIFktQHDXQvEvKocNBL7QUA53rM6esSFXhiW4O0SFQhXu2F5zy1MuMoeLJO7vBIUpv3ECU2GIfjOMyEKEsxJse/rDEAsGAJyabAOM8fKNH9RA2gLNU1eWTDlKj5RS7RKRKZ46NnFWyw1Z8XcBmGbRmQHikr5AJINaa5QQtG+Y8COsRS7zAtwAaUUsCTddcfKH9RFoJebknnIecMQFhlJvDKrSM3wyhdmgnGsuGLmHbOtSiBeIwcuzEuIGM0bMVEkFpTc4B2bQ1POJbrvKdRvUJN6U+EpDzhNosJNXU7kjPC6evQQpCg3XCWsRW9jGhOIxpJ35+EWmzViPDyEUguzKIAiwciHE544wOwKI4vjBb2FKfWJflNuPZ1gF2pqGMsoVNiYS0YvWcWBL0FZB4UVyn96xAoz59iHQhqbVIDEKc5HylA+9cM7DukCFkCZJD40bJsIslLSSOT1k+Daz8YKQyJoceWEEVqBlX7/eFu+R9IIrF0DAYwUCLJnPzlDbFSTLp9PzCxaDgO5wJWJyHlCoo2NdJSoNhmXphqQ8Z1SYl90joa8IYotdUwwdyS+HOkEQkuD8wlo4c01fwhLYGgbS0YhqipzBH0jSm0Kky/tJB4kGtSz/4xzbNBI1EiOcadlrcHzUnjQNzBHSBxVfQmOw2yUxIV8KgeumoLHlAWhdLH4k11GWU6jWIpRmGpR83p5wSrUsFTkwUMWFHz9KYRNb2XYCVXkviisncPJX15QDkynr3lKAWGLtIuzUY1TEWGZnbDUPjqMoqhMchdTNzXLifCDLAOp2MgWdjVpmjQixWM5ePKGKJZnceXHwiWtyRalATf1gUuN4FwZSNfo0C2XrOCUa0Z4oaYNogtoWp3WKSsvrgc4t2kSGLTwbXWBUMHcfSKGHfwEmq8+kSIm0AqCcmPnEhfsUBaBaZkrmxSZ8M5ShZJqpyRR27xg0kuA5arPJ4LbbMCmQPNotGZntSCWAL+AiXpOCBoK0LGesLHrGmzswbrw+AFm0fdo+Q8SamIlDek/WG7dZhD3ZTMZsoFxYzUlSZhQctJizBgMKnjlB7LtDqAdhk7Jpj0HSBXtBegoJtOQlA7AgEh5z9ImrTEg9pIUqjjAjywdhj+ISpDVFIWB3zh1wXHxh1Ww2CDJwZ0achm9GhqUpMyptAC8UEC6P7X5wjPgPSDkQ8JE55TljXHWFqVTHumsUhANe5iIpAgoCiSesRRIxlFiGWiBLlAKhSVE07rnEYtqTTPKGFAAOn2gwgFJJq48oLGICmGs++84iEksKvlnhDE2YuvjAqEhxgGUpgfhI+vOLATiSHrU9/eLMjKKWkeXrAA5Nrutg7uzVlnxhqhJKiwc4Yg1NaOCIXYfMHLMfMRSD/238MMDTjEtDLKWUWPxDxxxgSGmJcQ/McJGJ8r4hUoixvHiYaEzTagqCVgB2YsMRI83xikAJUAZBUpgO+Ogn3KKsfhUMN3xr5CF3iRP8NRoj4HYa0jeRzSacDPRoTX4jj0U3q3gIapAdPKIhAKp4hzxhrYGZEqjUi2HwksGmWNcKdIVaoEuEAmKaTE9hhteD4HGKC3qJ5eo+kAaK0HrD12Yug4mvhCpIQu+GAwnBpukHDiQ1esLNmLr4uImHCnhAUtiFWUSGFAlJpYc4kGwz//2Q==);
    background-repeat: no-repeat;
    height:600px;
    position: relative;
}

.drone{
    float: left;
    text-align: justify;
    background-color: bisque;
    width: 50%;
    height: 300px;
}
.drone h2{
    text-align: left;
    padding: 30px;
}
.drone p{
    padding: 30px;
}
